{
  "CN": "system:kube-scheduler",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "{{ TLS_C }}",
      "L": "{{ TLS_L }}",
      "O": "system:kube-scheduler",
      "OU": "{{ TLS_OU }}",
      "ST": "{{ TLS_ST }}"
    }
  ]
}